@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Raleway;
  src: url('./assets/Raleway-VariableFont_wght.ttf');
}
@font-face {
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif; ;
  src: url('./assets/Helvetica.ttc');
}

body {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  color: rgba(245, 245, 245, 0.855);
  font-family: Raleway;
}
